/* Large Devices */
@media only screen and (max-width: 1200px) {

}
/* Medium Devices */
@media only screen and (max-width: 992px) {
    header .h1-text {
        left: 0px;
        font-size: 55px; 
        text-align: center; 
        top: 100px;
    }
    header .button-5{
        left: 1200px;
       
    }
    header .p1-text{
        font-size: 30px;
        top: 80px;
        left: 0px;
    }
    header .container_slider_css{
        height: 700px;
        width: 1000px;
        border-radius: 20px;
        left: 0px;
    }
    nav .main-text{
        font-size: 25px;
        left: -20px;
        top: 870px;
    }
    div#square1{
        width: 300px;
        height: 550px;
        left: 520px;
    }
    p.text1{
        font-size: 24px;
    }
    img.Maxon{
        width: 130px;
        height: 130px;
        top: 190px;
        left: 615px;
        border-radius: 20px;
    }
    p.Max-text{
        top: 165px;
        left: 647px;
        font-size: 12px;
    }
    div#square2{
        top: 1030px;
        width: 300px;
        height: 300px;
        left: 520px;
    }
    p.text2{
        font-size: 24px;
        left: 0px;
        top: 20px;
    }
    img.Taylor{
        top: -100px;
        left: 90px;
        width: 130px;
        height: 130px;
    }
    p.Taylor-text{
        left: 10px;
        top: -125px;
        font-size: 16px;
    }
    div#square3{
        top: 1500px;
        width: 300px;
        height: 500px;
        left: 520px;
    }
    p.text3{
        font-size: 24px;
        left: 0px;
        top: 50px;
    }
    img.Ice{
        width: 130px;
        height: 130px;
        top: 1410px;
        left: 615px;
    }
    p.ice-text{
        top: 1385px;
        left: 630px;
        font-size: 16px;
    }
    div#square4{
        top: 2200px;
        width: 300px;
        height: 300px;
        left: 520px;
    }
    p.text4{
        font-size: 24px;
        left: 0px;
        top: 50px;
    }
    img.Nikto{
        width: 130px;
        height: 130px;
        left: 615px;
        top: 2100px;
    }
    p.nikto-text{
        left: 15px;
        top: 2075px;
        font-size: 12px;
    }
    div#square-photo{
        height: 1003.5px;
        width: 1336px;
        top: 4910px;
    }
    p.main-text3{
        font-size: 40px;
        top: 40px;
    }
    a.link{
        top: 700px;
        font-size: 50px;
    }
}



/* Extra Small Devices */
@media only screen and (max-width: 480px) {
    header .h1-text {
        left: 0px;
        font-size: 80px; 
        text-align: center; 
        top: 100px;
    }
    header .button-5{
        left: 1200px;
    }
    header .p1-text{
        font-size: 40px;
        top: 80px;
    }
    header .container_slider_css{
        height: 700px;
        width: 1200px;
        border-radius: 20px;
        left: 0px;
    }
    nav .main-text{
        font-size: 50px;
        left: 0px;
        top: 1100px;
    }
    div#square1{
        width: 500px;
        height: 570px;
        left: 420px;
    }
    p.text1{
        font-size: 38px;
        top: 40px;
    }
    img.Maxon{
        width: 160px;
        height: 160px;
        top: 170px;
        left: 600px;
        border-radius: 20px;
    }
    p.Max-text{
        top: 145px;
        left: 632px;
        font-size: 18px;
    }
    div#square2{
        top: 1090px;
        width: 500px;
        height: 400px;
        left: 420px;
    }
    p.text2{
        font-size: 38px;
        left: 0px;
        top: 100px;
    }
    img.Taylor{
        top: -100px;
        left: 190px;
        width: 160px;
        height: 160px;
    }
    p.Taylor-text{
        left: 25px;
        top: -130px;
        font-size: 22px;
    }
    div#square3{
        top: 1700px;
        width: 500px;
        height: 570px;
        left: 420px;
    }
    p.text3{
        font-size: 38px;
        left: 0px;
        top: 80px;
    }
    img.Ice{
        width: 160px;
        height: 160px;
        top: 1600px;
        left: 600px;
    }
    p.ice-text{
        top: 1570px;
        left: 630px;
        font-size: 16px;
    }
    div#square4{
        top: 2480px;
        width: 500px;
        height: 400px;
        left: 420px;
    }
    p.text4{
        font-size: 38px;
        left: 0px;
        top: 100px;
    }
    img.Nikto{
        width: 160px;
        height: 160px;
        left: 600px;
        top: 2380px;
    }
    p.nikto-text{
        left: 13px;
        top: 2355px;
        font-size: 20px;
    }
    div#square-photo{
        height: 1003.5px;
        width: 1336px;
        top: 4910px;
    }
    p.main-text3{
        font-size: 60px;
        top: 40px;
    }
    a.link{
        top: 700px;
        font-size: 70px;
    }
    
}