/* Large Devices */
@media only screen and (max-width: 1200px) {
    header .h1-text {
        top: 15px;
        font-size: 40px;
        left: 40px;
    }
    header .logo{
        width: 4%;
    }
    header .head-main{
        font-size: 50px;
    }
    header .head-low{
        font-size: 20px;
    }
    /* nav .main-text{ 

    }
    */
    footer .foot1{
        font-size: 19px;
    }
    footer .foot2{
        font-size: 25px;
    }
}
/* Medium Devices */
@media only screen and (max-width: 992px) {
    header .h1-text {
        top: 15px;
        font-size: 40px;
        left: 40px;
    }
    header .logo{
        width: 4%;
    }
    header .head-main{
        top: 300px;
        font-size: 80px;
        line-height: 100px;
        left: 250px;
        justify-content: center;
        text-align: center;
        transform: translate(0px,20%);
    }
    header .head-low{
        top: 630px;
        font-size: 25px;
        text-align: center;
        color: #cfcece;
        left: 300px;
        transform: translate(0px,30%);
    }
    header .container_slider_css{
        width: 0;
        height: 0;
    }
    nav .main-text{ 
        font-size: 35px;
        top: 920px;
        left: 400px;
    }
    #square1{
        height: 550px;
    }
    nav .text1{
        font-size: 20px;
        top: 15px;
    }
    #square2{
        height: 550px;
    }

    nav .text2{
        font-size: 20px;
        top: 10px;
    }
    nav .s-photo1{
        top: 370px;
    }

    #square3{
        height: 550px;
    }

    nav .text3{
        font-size: 20px;
        top: 3px;
    }

    #square4{
        height: 550px;
    }

    nav .text4{
        font-size: 20px;
        top: 240px;
    }
    
    footer .foot1{
        font-size: 25px;
    }
    footer .foot2{
        font-size: 30px;
        left: 950px;
    }
    footer .foot-link{
        left: 1005px;
    }
}



/* Extra Small Devices */
@media only screen and (max-width: 480px) {

}