@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap&subset=cyrillic');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    position: relative;
    width: 1336px;
    height: 2500px;
    background: rgba(49, 44, 44, 1);
    color: #FFFFFF;
    font-size: 100%;
}
body::-webkit-scrollbar {
  width: 5px;               
}

body::-webkit-scrollbar-track {
  background:  rgba(49, 44, 44, 1);       
} 

body::-webkit-scrollbar-thumb {
  background-color: white;   
  border-radius: 5px;       
}

.header{
    width: 100%;
    height: 1000px;
}
.logo{
    position: absolute;
    top: 27px;
    left: 60px;
    width: 3%;
    border-radius: 40px;

    transform: translate(0px,70%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.logo._active{
    transform: translate(0px, 0px);
    opacity: 1;
}


.button-wrapper {
    max-width: 1300px;
    height: 100px;
    text-align: center;
    overflow: hidden;
    
 }
 .arrow-btn {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    color: #ffffff;
    border: 4px solid #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .4em;
    transition: .2s;
    transition-delay: .1s;
    top: 20px;
    left: 550px;

    transform: translate(0px,50%);
    opacity: 0;
    transition: all 0.8s ease 0s;
 }
 .arrow-btn._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
 .arrow-btn:hover {
    color: #ffffff;
    padding: 15px 35px;
 }
 .arrow-btn span {
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    overflow: hidden;
    transition: .35s cubic-bezier(.215, .61, .215, 1);
 }
 .arrow-btn span:before {
    content: "";
    position: absolute;
    top: -5%;
    left: -210%;
    width: 200%;
    height: 108%;
    background: #431e99;
    transform: skew(-15deg, 0);
    transition: .5s;
 }

 .arrow-btn:hover:after {
    width: 140%;
    left: -20%;
 }
 .arrow-btn:hover span:before {
    left: -25%;
 }

/* DANGEROUS */
.h1-text {
    position: absolute;
    width: 30%;
    height: 70px;
    left: 0px;
    top: 10px;
    display: block;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 77px;
    text-align: center;

    color: #FFFFFF;
    transform: translate(0px,50%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.h1-text._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.line{
    position: absolute;
    width: 1220px;
    left: 60px;
    border-bottom: #FFFFFF;
    border: none;

    transform: translate(0px,120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.line._active{
    transform: translate(0px, 0px);
    opacity: 1;
}

.container_slider_css{
    top: 200px;
    left: 393px;
    border-radius: 10px;
    margin:50px auto;
    width: 600px;
    height: 700px;
    overflow:hidden;
    position:relative
    
}

.photo_slider_css{
    position:absolute;
    animation:round 16s infinite;
    opacity:0;
    width:100%;
    border-radius: 10px;
}
@keyframes round {
25%{opacity:1}
40%{opacity:0}
}
img:nth-child(1){animation-delay:12s}
img:nth-child(2){animation-delay:8s}
img:nth-child(3){animation-delay:4s}
img:nth-child(4){animation-delay:0}

.head-main{
    position: absolute;
    top: 400px;
    left: 110px;

    font-family: 'Inter';
    
    font-style: normal;
    font-weight: 1000;
    font-size: 44px;
    line-height: 40px;
    text-align: left;

    color: #FFFFFF;
    transform: translate(0px,50%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.head-main._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.head-low{
    position: absolute;
    top: 570px;
    left: 110px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    text-align: left;

    color: #FFFFFF;
    transform: translate(0px,25%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.head-low._active{
    transform: translate(0px, 0px);
    opacity: 1;
}

.nav {
    width: 100%;
}
/* nav */
.main-text{
    position: absolute;
    width: 500px;
    height: 58px;
    top: 900px;
    left: 450px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 58px;
    
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;

    text-align: center;

    color: #FFFFFF;

}



/* первый квадрат */
#square1{
    position: absolute;
    width: 20%;
    height: 400px;
    left: 100px;
    top: 1050px;

    border-style: solid;
    border-color: rgba(68, 68, 73);
    background: rgba(49, 44, 44, 1);
    border-radius: 20px;
    
}
.text1{
    position: absolute;
    width: 90%;
    height: 350px;
    left: 10px;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 35px;
    text-align: center;

    color: #cfcece;
}
/* первый квадрат */

/* второй квадрат */
#square2{
    position: absolute;
    width: 20%;
    height: 400px;
    left: 400px;
    top: 1050px;

    border-style: solid;
    border-color: rgba(68, 68, 73);
    background: rgba(49, 44, 44, 1);
    border-radius: 20px;
}
.text2{
    position: absolute;
    width: 80%;
    height: 241px;
    left: 25px;
    top: 10px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    
    color: #cfcece;
}
.s-photo1{
    position: absolute;
    width: 90%;
    left: 15px;
    top: 240px;
    border-radius: 20px;
}
/* второй квадрат */

/* третий квадрат */
#square3{
    position: absolute;
    width: 20%;
    height: 400px;
    left: 700px;
    top: 1050px;

    border-style: solid;
    border-color: rgba(68, 68, 73);
    background: rgba(49, 44, 44, 1);
    border-radius: 20px;
}
.text3{
    position: absolute;
    width: 80%;
    height: 241px;
    left: 27px;
    top: 5px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    
    color: #cfcece;
}
/* третий квадрат */

/* четвёртый квадрат */
#square4{
    position: absolute;
    width: 20%;
    height: 400px;
    left: 1000px;
    top: 1050px;

    border-style: solid;
    border-color: rgba(68, 68, 73);
    background: rgba(49, 44, 44, 1);
    border-radius: 20px;
}
.text4{
    position: absolute;
    width: 80%;
    height: 241px;
    left: 27px;
    top: 200px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 44px;
    text-align: center;

    color: #cfcece;
}
.s-photo2{
    position: absolute;
    width: 90%;
    left: 15px;
    top: 20px;
    border-radius: 20px;
}
/* четвёртый квадрат */

/* подвал сайта */
.footer{
    width: 100%;
}
.nav-3links{
    position: relative;
    margin: 850px 500px;
}
.links-text{
    position: absolute;
    left: -70px;
    width: 500px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 58px;
    
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;

    text-align: center;

    color: #FFFFFF;
}
.main-links{
    padding: 230px 0px 0px 0px;
}
/* Первая кнопка */
.add-server {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    overflow: hidden;
    background: none;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .4em;
    transition: 0.2s;
    top: 37px;
    left: 400px;
}
.add-server__line{
    position: absolute;
    display: block;
}
.add-server__line--top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffffff);
}
.add-server:hover .add-server__line--top{
    left: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.add-server__line--bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffffff);
}
.add-server:hover .add-server__line--bottom{
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.add-server__line--left {
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #ffffff);
}
.add-server:hover .add-server__line--left{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}


.add-server__line--right {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffffff);
}
.add-server:hover .add-server__line--right{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}


.add-server:hover{
    box-shadow: 0 0 10px #ffffff;
    transition-delay: 0.8s;
}
/* Первая кнопка */

/* Вторая кнопка */

.apply {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    text-decoration: none;
    background: none;
    border: none;
    overflow: hidden;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .4em;
    transition: .2s;
    transition-delay: .1s;
    top: -35px;
    left: 50px;
 }
.apply__line{
    position: absolute;
    display: block;
}
.apply__line--top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffffff);
}
.apply:hover .apply__line--top{
    left: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.apply__line--bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffffff);
}
.apply:hover .apply__line--bottom{
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.apply__line--left {
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #ffffff);
}
.apply:hover .apply__line--left{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}


.apply__line--right {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffffff);
}
.apply:hover .apply__line--right{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}


.apply:hover{
    box-shadow: 0 0 10px #ffffff;
    transition-delay: 0.8s;
}


/* Вторая кнопка */    
/* Третья кнопка */ 

.download {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    overflow: hidden;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .4em;
    transition: .2s;
    transition-delay: .1s;
    top: -110px;
    left: -330px;
}
.download__line{
    position: absolute;
    display: block;
}
.download__line--top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffffff);
}
.download:hover .download__line--top{
    left: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.download__line--bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffffff);
}
.download:hover .download__line--bottom{
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.download__line--left {
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #ffffff);
}
.download:hover .download__line--left{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}


.download__line--right {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffffff);
}
.download:hover .download__line--right{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}


.download:hover{
    box-shadow: 0 0 10px #ffffff;
    transition-delay: 0.8s;
}



/* Третья кнопка */ 
.line2{
    position: absolute;
    top: 2300px;
    width: 1220px;
    left: 60px;
    border-bottom: #FFFFFF;
    border: none;

    transform: translate(0px,120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.line2._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.foot1{
    position: absolute;
    top: 2330px;
    left: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 44px;
    text-align: left;

    color: #cfcece;
    transform: translate(0px,120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.foot1._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.foot2{
    position: absolute;
    top: 2340px;
    left: 900px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 44px;
    text-align: left;

    color: #cfcece;

    transform: translate(0px,120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.foot2._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.foot-link{
    position: absolute;
    top: 2400px;
    left: 940px;

    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 44px;
    text-align: left;

    color: #cfcece;

    transform: translate(0px,120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.foot-link._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
